flows_ip-172-31-34-91.json
[{"id":"92ee70f2.0a47c","type":"tab","label":"Caixa ChatBot","disabled":false,"info":""},{"id":"150dd550.f12feb","type":"tab","label":"QNA","disabled":false,"info":""},{"id":"e7a4ea5f.864138","type":"tab","label":"teste retorno","disabled":true,"info":""},{"id":"9e78360e.c4c418","type":"tab","label":"PIS","disabled":false,"info":""},{"id":"383b3136.8728be","type":"tab","label":"HabitacaoG","disabled":false,"info":""},{"id":"b3893c32.59a1a","type":"tab","label":"Bolsa Familia","disabled":false,"info":""},{"id":"9f4faa7c.1a7738","type":"tab","label":"Finaliza","disabled":false,"info":""},{"id":"557c4802.319628","type":"tab","label":"Não Entendi","disabled":false,"info":""},{"id":"538bb8bf.9248e8","type":"tab","label":"Cartões","disabled":false,"info":""},{"id":"b321fb36.00e188","type":"tab","label":"Mega-Sena","disabled":false,"info":""},{"id":"d953a33b.f39fe","type":"tab","label":"Loterias","disabled":false,"info":""},{"id":"889d43eb.dcdc5","type":"tab","label":"Aguarde","disabled":false,"info":""},{"id":"6c781cb0.e23264","type":"tab","label":"Saudação","disabled":false,"info":""},{"id":"a4c8268d.c66288","type":"tab","label":"Set null Index","disabled":false,"info":""},{"id":"ebb15cdd.38107","type":"tab","label":"facebook sender","disabled":false,"info":""},{"id":"8818aa7c.0937b8","type":"tab","label":"teste face","disabled":true,"info":""},{"id":"42afd0af.dc9be","type":"tab","label":"Desculpe","disabled":false,"info":""},{"id":"9cfd3790.d21288","type":"telegram bot","z":"","botname":"XBot","usernames":"[]","chatids":"[]"},{"id":"80094204.91c78","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"habitacao.cer","verifyservercert":false},{"id":"9b8612c4.5b07a","type":"chatbot-telegram-node","z":"","botname":"XBot","usernames":"","polling":"1000","store":"","log":"","parseMode":""},{"id":"ddd639d.263eec8","type":"chatbot-facebook-node","z":"","botname":"Xbot","usernames":"","store":"f8329d2e.2bc16","log":""},{"id":"f8329d2e.2bc16","type":"chatbot-context-store","z":"","name":"facebookchat","contextStorage":"memory","contextParams":""},{"id":"38ec677c.07b518","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"neobot","name":"MongoDB NeoBot"},{"id":"9a5e8a2d.bf6dc8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"certificado_api.cer","verifyservercert":false},{"id":"24efd5e2.860faa","type":"switch","z":"92ee70f2.0a47c","name":"Switch Cartões","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"Cartões","vt":"str","case":true},{"t":"regex","v":"cartoes","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":460,"y":520,"wires":[["67ecf5f4.04368c"],["67ecf5f4.04368c"],["10d2475b.43aa39"]]},{"id":"10d2475b.43aa39","type":"switch","z":"92ee70f2.0a47c","name":"Switch Habitação","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"Habitação","vt":"str","case":true},{"t":"regex","v":"habitacao","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":620,"wires":[["218f060c.b418ca"],["218f060c.b418ca"],["23fbb81d.23dd98"]]},{"id":"23fbb81d.23dd98","type":"switch","z":"92ee70f2.0a47c","name":"Switch Loterias","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"Loterias","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":160,"wires":[["9d56d5bc.8d3808"],["16aedc58.f33ed4"]]},{"id":"28767ee5.f0e6a2","type":"switch","z":"92ee70f2.0a47c","name":"Switch PIS","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"PIS","vt":"str","case":true},{"t":"regex","v":"Bolsa","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":true,"outputs":3,"x":430,"y":420,"wires":[["4fa749f4.f144a8"],["9fed5f59.5323e"],["24efd5e2.860faa"]]},{"id":"9d36af82.0d4b7","type":"delay","z":"9e78360e.c4c418","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":120,"wires":[["ddcea32f.51a1d"]]},{"id":"6712799c.19f7d8","type":"function","z":"9e78360e.c4c418","name":"Titulo PIS","func":"var chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = \"Para ter direito, o trabalhador precisa:\";\nmsg.payload = {chatId : chatId, type : 'message', content : msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":60,"wires":[["9ced29c.f530ad8"]]},{"id":"ddcea32f.51a1d","type":"function","z":"9e78360e.c4c418","name":"PIS","func":"msg.payload = \"\\n(y) Estar cadastrado no PIS, mínimo cinco anos;\\n(y) Ter remuneração mensal média de até dois salários mínimos durante o ano-base;\\n(y) Atividade remunerada para Pessoa Jurídica, durante pelo menos 30 dias, consecutivos ou não, no ano-base;\\n(y) Ter seus dados informados pelo empregador (Pessoa Jurídica) corretamente na Relação Anual de Informações Sociais.\\n\";\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":120,"wires":[["6c688d90.124744"]]},{"id":"6c688d90.124744","type":"split","z":"9e78360e.c4c418","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":750,"y":120,"wires":[["5f27cbd0.109be4"]]},{"id":"8ab8b1d0.0ecaf","type":"delay","z":"9e78360e.c4c418","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":180,"wires":[["27055718.26aa88"]]},{"id":"da3c53a5.f3dbd","type":"link in","z":"9e78360e.c4c418","name":"","links":["4fa749f4.f144a8"],"x":15,"y":60,"wires":[["2ba56cad.dc1ff4"]]},{"id":"4fa749f4.f144a8","type":"link out","z":"92ee70f2.0a47c","name":"Caixa PIS","links":["da3c53a5.f3dbd"],"x":595,"y":300,"wires":[]},{"id":"dc80fe12.cec4a","type":"switch","z":"9e78360e.c4c418","name":"Entrada PIS","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"PIS","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":210,"y":180,"wires":[["6712799c.19f7d8","9d36af82.0d4b7","8ab8b1d0.0ecaf","75cf1f13.9738e"],["6635d31.f0fcd2c"]]},{"id":"8e9bd229.8545f","type":"link in","z":"9f4faa7c.1a7738","name":"","links":["9dfe5a8b.01c818","31ee999d.47ca26","a35a6ec7.dbdff","45fd6d44.47b9b4","6e2ac2fb.e538ec","dc53e47.3031418","fa34a2c.ddfa66"],"x":155,"y":100,"wires":[["88f277c1.271a78","4dd12d2e.453fa4"]]},{"id":"88f277c1.271a78","type":"function","z":"9f4faa7c.1a7738","name":"Obrigado","func":"var chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = \"Obrigado por ter entrado em contato com a Caixa! \\n :D Fiquei muito feliz em receber você nesse canal, até a próxima. <3\\n \";\n\nmsg.payload = {chatId : chatId, type : 'message', content : msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["57064c4b.e09834"]]},{"id":"9dfe5a8b.01c818","type":"link out","z":"9e78360e.c4c418","name":"Encerra conversa","links":["8e9bd229.8545f"],"x":1235,"y":500,"wires":[]},{"id":"c906a49d.2edd88","type":"function","z":"557c4802.319628","name":"não entendi","func":"var chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = \"Desculpe-me, não entendi... :(\\n\"+\n\"vou enviar novamente a lista de assuntos:\\n\"+\n\"\\n - Cartões\\n\"+\" - Habitação\\n\"+\" - Loterias\\n\"+\" - PIS\\n\"+\n\"\\nou escolha a opção no menu abaixo!\\nEstou feliz em atendê-lo. ^_^\" ;\n\nmsg.payload = {chatId : chatId, type : 'message', content : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["32818009.05157","5b3b0f0f.cebe"]]},{"id":"8d9fad93.055d7","type":"link in","z":"557c4802.319628","name":"","links":["53096ec8.820e1","87ff0a48.a258d8","7c250d37.a4cf04","6185ec61.196004","8a553ee1.ef30c","fbc27465.904aa8","9e10bb9d.a42918","48385036.1184e","eb84b7f2.fa9308"],"x":100,"y":220,"wires":[["c906a49d.2edd88"]]},{"id":"54c963e7.7689fc","type":"link out","z":"92ee70f2.0a47c","name":"","links":["12b7475f.184229"],"x":995,"y":260,"wires":[]},{"id":"6635d31.f0fcd2c","type":"switch","z":"9e78360e.c4c418","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"sim","vt":"str","case":true},{"t":"regex","v":"Não","vt":"str","case":true},{"t":"regex","v":"nao","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":true,"outputs":4,"x":210,"y":300,"wires":[["1e104dd.2f2f0b2"],["9dfe5a8b.01c818"],["9dfe5a8b.01c818"],["89d789a6.698f78"]]},{"id":"f9d147ec.c00588","type":"switch","z":"92ee70f2.0a47c","name":"index","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"Começar","vt":"str","case":true},{"t":"regex","v":"Iniciar","vt":"str","case":true},{"t":"regex","v":"Menu","vt":"str","case":true},{"t":"regex","v":"Sair","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":true,"outputs":5,"x":410,"y":320,"wires":[["aad6f8ac.36e008"],["aad6f8ac.36e008"],["aad6f8ac.36e008"],["21a9e77c.79c6e8"],["28767ee5.f0e6a2"]]},{"id":"4f99dec0.cee23","type":"function","z":"92ee70f2.0a47c","name":"get Flow Index","func":"var chat = msg.chat();\nvar index = chat.get('index');\nvar payload = msg.payload.content;\nif (index === undefined){\n    index = null;\n}\nif (index !== null && msg.payload.content != '<GET_STARTED_PAYLOAD>'){\n \n    //global.set('mypayload', payload);\n    chat.set('mypayload', payload);\n    msg.payload.content = index;\n    return msg;\n    \n} else if (msg.payload.content === '<GET_STARTED_PAYLOAD>') {\n    msg.payload.content = \"Começar\";\n    return msg;\n    \n}  else if (msg.payload.content === index) {\n   \n    return msg;\n} else {\n    \n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["f9d147ec.c00588"]]},{"id":"96ce5b7e.7738d8","type":"function","z":"538bb8bf.9248e8","name":"Cartões","func":"var chat = msg.chat();\nvar chatId = chat.get('chatId');\nmsg.payload = \"Excelente! Temos várias opções de cartões de crédito para você, \\npara ver qual mais se adequa a sua necessidade,\"+\n\"\\nbasta visitar nosso site\\n\"+\n\"http://www.caixa.gov.br/voce/cartoes/Paginas/default.aspx\\n\"+\n\"\\nou baixar nosso app, na sua loja preferida. -_-\";\nmsg.payload = { chatId : chatId, type : 'message', content : msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":220,"wires":[["242788c5.8046d8","81f49fae.f467"]]},{"id":"e80e9dcb.68662","type":"link in","z":"538bb8bf.9248e8","name":"","links":["67ecf5f4.04368c"],"x":55,"y":60,"wires":[["9b779434.c84b78"]]},{"id":"67ecf5f4.04368c","type":"link out","z":"92ee70f2.0a47c","name":"","links":["e80e9dcb.68662"],"x":635,"y":440,"wires":[]},{"id":"f81a3041.8c1b5","type":"link in","z":"b321fb36.00e188","name":"","links":["47a9e830.a32708"],"x":15,"y":40,"wires":[["f3847a25.6db558"]]},{"id":"218f060c.b418ca","type":"link out","z":"92ee70f2.0a47c","name":"","links":["877239d4.904658"],"x":735,"y":560,"wires":[]},{"id":"27df7eab.d93402","type":"http request","z":"d953a33b.f39fe","name":"","method":"GET","ret":"txt","url":"https://loteriadacaixa.net.br/resultado-mega-sena","tls":"","x":1890,"y":520,"wires":[["bd8c869a.4da2f8"]]},{"id":"bd8c869a.4da2f8","type":"html","z":"d953a33b.f39fe","name":"Resultado do site","tag":"div.entry-content table","ret":"text","as":"single","x":2090,"y":520,"wires":[["73896151.7ccda"]]},{"id":"73896151.7ccda","type":"string","z":"d953a33b.f39fe","name":"Limpa Resultados","methods":[{"name":"humanize","params":[]},{"name":"trim","params":[]},{"name":"collapseWhitespace","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":2210,"y":580,"wires":[["3aee072d.00a008"]]},{"id":"3aee072d.00a008","type":"function","z":"d953a33b.f39fe","name":"Mega Sena","func":"var n1 = msg.payload.substr(0,2);\nvar n2 = msg.payload.substr(2,2);\nvar n3 = msg.payload.substr(4,2);\nvar n4 = msg.payload.substr(6,2);\nvar n5 = msg.payload.substr(8,2);\nvar n6 = msg.payload.substr(10,2);\nvar chat = msg.chat();\nvar chatId = chat.get('chatId');\nmsg.payload = \"Ok, espero que tenha sorte....\\n\" +\n                 \"Segue o resultado do último concurso da Mega Sena:\\n \\n\" + \n                  n1 + \" - \" + n2 + \" - \" + n3 + \" - \" + n4 + \" - \" + n5 + \" - \" + n6 + \"\\n \\n:)\";\n\nmsg.payload = {chatId : chatId, type : 'message', content : msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":2350,"y":520,"wires":[[]]},{"id":"2a7093c7.6d5b9c","type":"link in","z":"d953a33b.f39fe","name":"","links":["9d56d5bc.8d3808"],"x":55,"y":60,"wires":[["289cc4a2.43ffdc"]]},{"id":"9d56d5bc.8d3808","type":"link out","z":"92ee70f2.0a47c","name":"","links":["2a7093c7.6d5b9c"],"x":955,"y":120,"wires":[]},{"id":"a443f145.af511","type":"function","z":"889d43eb.dcdc5","name":"aguarde","func":"var chat = msg.chat();\nvar chatId = chat.get('chatId');\nmsg.payload = \"por favor, aguarde um pouquinho, estou processando suas informações...\\n\"+\n\";-)\";\n\nmsg.payload = { chatId : chatId, type : 'message', content : msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["9a0ce7b5.63e988"]]},{"id":"ba7ae069.44981","type":"link in","z":"889d43eb.dcdc5","name":"","links":["bdd30e96.226c5","4c7db7ce.60ec38","d3af086b.879f78","847c2212.9d333"],"x":180,"y":120,"wires":[["a443f145.af511"]]},{"id":"951b710b.e48e","type":"chatbot-conversation","z":"8818aa7c.0937b8","name":"","botTelegram":"","botSlack":"","botFacebook":"ddd639d.263eec8","chatId":"","transport":"facebook","messageId":"","contextMessageId":false,"store":"","x":320,"y":120,"wires":[["c2f0a7f1.d84d98"]]},{"id":"775c5846.8224b8","type":"chatbot-facebook-receive","z":"8818aa7c.0937b8","bot":"ddd639d.263eec8","botProduction":"ddd639d.263eec8","x":100,"y":120,"wires":[["951b710b.e48e"]]},{"id":"c2f0a7f1.d84d98","type":"chatbot-message","z":"8818aa7c.0937b8","name":"","message":[{"message":"Teste resposa messenger"}],"answer":false,"track":false,"x":560,"y":140,"wires":[["82e21280.353d","d003bf02.7698f"]]},{"id":"82e21280.353d","type":"chatbot-facebook-send","z":"8818aa7c.0937b8","bot":"ddd639d.263eec8","botProduction":"ddd639d.263eec8","track":false,"outputs":0,"x":780,"y":160,"wires":[]},{"id":"d003bf02.7698f","type":"debug","z":"8818aa7c.0937b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":280,"wires":[]},{"id":"41334aab.a40074","type":"chatbot-facebook-receive","z":"92ee70f2.0a47c","bot":"ddd639d.263eec8","botProduction":"ddd639d.263eec8","x":80,"y":100,"wires":[["840588ae.5ee628"]]},{"id":"840588ae.5ee628","type":"chatbot-conversation","z":"92ee70f2.0a47c","name":"","botTelegram":"","botSlack":"","botFacebook":"ddd639d.263eec8","chatId":"","transport":"facebook","messageId":"","contextMessageId":false,"store":"","x":290,"y":100,"wires":[["4f99dec0.cee23","291b9fc4.4184b"]]},{"id":"911ee4f3.a183e8","type":"function","z":"e7a4ea5f.864138","name":"Set Flow Index teste","func":"//var index = flow.get('index') || 'cartao';\n//return msg\nvar chat = msg.chat();\nchat.set('index', \"teste\");\n//return msg;","outputs":1,"noerr":0,"x":420,"y":100,"wires":[[]]},{"id":"e2e072a5.f8a0a","type":"function","z":"e7a4ea5f.864138","name":"Get Payload","func":"var chat = msg.chat();\n//var mypayload = \"payload\"+chat.get('chatId');\nvar payload = chat.get('mypayload');//global.get('mypayload');\nif (payload === null || payload === undefined ){\n    msg.payload = msg.payload.content;\n} else {\n    msg.payload = payload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":140,"wires":[["4c86f964.fbbf08","7e01217f.4565c"]]},{"id":"75d811a7.8a958","type":"chatbot-message","z":"e7a4ea5f.864138","name":"","message":[{"message":"Teste bem sucedido"}],"answer":false,"track":false,"x":580,"y":180,"wires":[["ee15f434.f0f648"]]},{"id":"5aa95a3a.3a3ef4","type":"link in","z":"e7a4ea5f.864138","name":"","links":["cefe4ed8.276e8"],"x":35,"y":60,"wires":[["e2e072a5.f8a0a","75f69a49.f3f814"]]},{"id":"75cf1f13.9738e","type":"function","z":"9e78360e.c4c418","name":"Set Global Index","func":"var chat = msg.chat();\n//var id = chat.get('chatId');\nchat.set('index','pis');","outputs":1,"noerr":0,"x":450,"y":40,"wires":[[]]},{"id":"7d91fafa.81a0e4","type":"chatbot-facebook-send","z":"ebb15cdd.38107","bot":"ddd639d.263eec8","botProduction":"ddd639d.263eec8","track":false,"outputs":0,"x":640,"y":180,"wires":[]},{"id":"5d290b25.670624","type":"link in","z":"ebb15cdd.38107","name":"","links":["9ced29c.f530ad8","32818009.05157","68931ef1.bf9e5","57064c4b.e09834","6aa92023.50728","79deffc6.230f7","242788c5.8046d8","df24e280.581b9","fac0f007.92fb7","9a0ce7b5.63e988","808e1662.c082a8","f00e4865.4ff388","3bba7241.6af9ae","de73b241.b1b33","933dfd6b.67ab9","ee15f434.f0f648","56599ae5.71ade4","3b10bb65.bcf374"],"x":255,"y":180,"wires":[["7d91fafa.81a0e4"]]},{"id":"9ced29c.f530ad8","type":"link out","z":"9e78360e.c4c418","name":"","links":["5d290b25.670624"],"x":1415,"y":140,"wires":[]},{"id":"4c86f964.fbbf08","type":"switch","z":"e7a4ea5f.864138","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"encerrar","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":230,"y":180,"wires":[["b6a5bb1.9964448","454ee399.4742fc"],["911ee4f3.a183e8","6f0841d3.51a3","75d811a7.8a958"]]},{"id":"2d175bb9.6b49f4","type":"function","z":"e7a4ea5f.864138","name":"Set Flow Index teste","func":"//var index = flow.get('index') || 'cartao';\n//return msg\nvar chat = msg.chat();\nchat.set('index', null);\nchat.set('mypayload', null);\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":540,"wires":[[]]},{"id":"b6a5bb1.9964448","type":"debug","z":"e7a4ea5f.864138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":240,"y":60,"wires":[]},{"id":"454ee399.4742fc","type":"chatbot-message","z":"e7a4ea5f.864138","name":"","message":[{"message":"Muito obrigado pela sua atenção, \nfoi um grande prazer para CAIXA ;)"}],"answer":false,"track":false,"x":630,"y":300,"wires":[["ee15f434.f0f648","bd4fb733.d75a28"]]},{"id":"32818009.05157","type":"link out","z":"557c4802.319628","name":"","links":["5d290b25.670624"],"x":615,"y":220,"wires":[]},{"id":"aad6f8ac.36e008","type":"link out","z":"92ee70f2.0a47c","name":"","links":["dddab326.552f5"],"x":555,"y":200,"wires":[]},{"id":"6e68daec.3d1cc4","type":"function","z":"6c781cb0.e23264","name":"Saudação","func":"var chat = msg.chat();\nvar chatId = chat.get('chatId');\n msg.payload = \"Olá , tudo bem?\"+\n                    \"\\nSou o Neo, Assistente Virtual da CAIXA, estou aqui para auxiliá-lo no que precisar! :)\\n\"+\n                    \"\\nQuando achar necessário, pode digitar:\\n\\n - Iniciar,  para voltarmos ao início\\n\\n- Sair,  para encerramos o assunto.\";\nmsg.payload = {chatId : chatId, type : 'message', content : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":180,"wires":[["68931ef1.bf9e5"]]},{"id":"68931ef1.bf9e5","type":"link out","z":"6c781cb0.e23264","name":"","links":["5d290b25.670624"],"x":715,"y":180,"wires":[]},{"id":"dddab326.552f5","type":"link in","z":"6c781cb0.e23264","name":"","links":["aad6f8ac.36e008","c6ec60d1.c0408"],"x":160,"y":180,"wires":[["6e68daec.3d1cc4","1c3573ed.77893c"]]},{"id":"5f27cbd0.109be4","type":"function","z":"9e78360e.c4c418","name":"PIS","func":"var chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = {chatId : chatId, type : 'message', content : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":120,"wires":[["9ced29c.f530ad8"]]},{"id":"57064c4b.e09834","type":"link out","z":"9f4faa7c.1a7738","name":"","links":["5d290b25.670624"],"x":680,"y":100,"wires":[]},{"id":"7bb61026.2cdd5","type":"function","z":"a4c8268d.c66288","name":"Set null","func":"var chat = msg.chat();\nchat.set('index', null);\nchat.set('mypayload', null);\nchat.set('renda', null);\nchat.set('nasc', null);\nchat.set('atendimento',null);\nchat.set('valor', null);\nchat.set('simulacao', null);\nchat.set('index', null);\nchat.set('mypayload', null);\nchat.set('subindex', null);\nchat.set('concurso', null);","outputs":1,"noerr":0,"x":420,"y":160,"wires":[[]]},{"id":"8942226f.21d2a","type":"link in","z":"a4c8268d.c66288","name":"","links":["367c933.531286c","81f49fae.f467","3a2afca2.9f1f34","5b3b0f0f.cebe","c31a9a63.63da18","bd4fb733.d75a28","9f7ab10f.1c1da","d7f58a43.ba2ec8","21a9e77c.79c6e8"],"x":160,"y":160,"wires":[["7bb61026.2cdd5","24e1b5d7.705f8a"]]},{"id":"367c933.531286c","type":"link out","z":"9f4faa7c.1a7738","name":"","links":["8942226f.21d2a"],"x":380,"y":200,"wires":[]},{"id":"2ba56cad.dc1ff4","type":"function","z":"9e78360e.c4c418","name":"get Global payload","func":"//var chat = msg.chat();\n//var mypayload = \"payload\"+chat.get('chatId');\n//var payload = global.get('mypayload');\n//if (payload === null || payload === undefined ){\n//    msg.payload = msg.payload.content;\n//} else {\n//    msg.payload = payload;\n//}\n//return msg;\nvar chat = msg.chat();\n//var mypayload = \"payload\"+chat.get('chatId');\nvar payload = chat.get('mypayload');//global.get('mypayload');\nif (payload === null || payload === undefined ){\n    msg.payload = msg.payload.content;\n} else {\n    msg.payload = payload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":60,"wires":[["dc80fe12.cec4a"]]},{"id":"291b9fc4.4184b","type":"change","z":"92ee70f2.0a47c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":180,"wires":[[]]},{"id":"27055718.26aa88","type":"chatbot-inline-buttons","z":"9e78360e.c4c418","name":"Botão Sim/Não","buttons":[{"type":"postback","label":"Sim","value":"SIM","answer":"","alert":false,"style":"default"},{"type":"postback","label":"Não","value":"Não","answer":"","alert":false,"style":"primary"}],"message":"{{firstName}}, está disponível o Calendário 2017/2018 do PIS, quer verificar a data de recebimento? :D","x":860,"y":180,"wires":[["9ced29c.f530ad8"]]},{"id":"6aa92023.50728","type":"link out","z":"a4c8268d.c66288","name":"","links":["5d290b25.670624"],"x":755,"y":260,"wires":[]},{"id":"24e1b5d7.705f8a","type":"function","z":"a4c8268d.c66288","name":"get Global payload","func":"//var chat = msg.chat();\nvar payload = global.get('mypayload');\nif (payload === null || payload === undefined){\n    msg.payload = msg.payload.content;\n} else {\n    msg.payload = payload;\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["c3d49341.f90c"]]},{"id":"eb7f2400.a122a8","type":"delay","z":"a4c8268d.c66288","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":260,"wires":[["6aa92023.50728"]]},{"id":"e81762e5.d7aef","type":"mongodb in","z":"9e78360e.c4c418","mongodb":"38ec677c.07b518","name":"get PIS","collection":"calendarioPIS","operation":"find","x":760,"y":480,"wires":[["38d86882.3c9188","114d402b.eff5c","773da5cd.04f7dc"]]},{"id":"1e104dd.2f2f0b2","type":"function","z":"9e78360e.c4c418","name":"pergunta mês","func":"var chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = \"Muito bem! 8-)\\nEntão, me informe, \\nde 1 a 12, \\no mês do seu nascimento, por favor:\";\nmsg.payload = {chatId : chatId, type : 'message', content : msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":280,"wires":[["9ced29c.f530ad8"]]},{"id":"89ac935d.157ed","type":"function","z":"9e78360e.c4c418","name":"get data recebimento","func":"msg.payload = {\"_id\": parseInt(msg.payload)};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":480,"wires":[["e81762e5.d7aef"]]},{"id":"38d86882.3c9188","type":"function","z":"9e78360e.c4c418","name":"Alerta","func":"var chat = msg.chat();\nvar chatId = chat.get('chatId');\nvar id =  msg.payload[0].recebe;\nmsg.payload = \"Opa localizei! 8)\\nLembro que essa data é informativa e não garente o recebimento do benefíco!\";\nmsg.payload = {chatId : chatId, type : 'message', content : msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":380,"wires":[["9ced29c.f530ad8"]]},{"id":"8550eec8.5c264","type":"function","z":"9e78360e.c4c418","name":"formata data recebimento","func":"var chat = msg.chat();\nvar chatId = chat.get('chatId');\nvar id =  msg.payload[0].recebe;\nmsg.payload = \"Trabalhadores nascidos nesse mês, recebem o benefíco a partir de: \"+id+\"\";\nmsg.payload = {chatId : chatId, type : 'message', content : msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":440,"wires":[["9ced29c.f530ad8"]]},{"id":"114d402b.eff5c","type":"delay","z":"9e78360e.c4c418","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":440,"wires":[["8550eec8.5c264"]]},{"id":"773da5cd.04f7dc","type":"delay","z":"9e78360e.c4c418","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":500,"wires":[["9dfe5a8b.01c818"]]},{"id":"9b779434.c84b78","type":"function","z":"538bb8bf.9248e8","name":"get Global payload","func":"//var chat = msg.chat();\nvar chat = msg.chat();\n//var mypayload = \"payload\"+chat.get('chatId');\nvar payload = chat.get('mypayload');//global.get('mypayload');\nif (payload === null || payload === undefined ){\n    msg.payload = msg.payload.content;\n} else {\n    msg.payload = payload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":220,"wires":[["96ce5b7e.7738d8"]]},{"id":"1daa2015.c0c19","type":"function","z":"538bb8bf.9248e8","name":"Set Global Index","func":"//var index = flow.get('index') || 'cartao';\n//return msg\n//var chat = msg.chat();\n//chat.set('index', 'pis');\nglobal.set('index','pis');\n//return msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[[]]},{"id":"81f49fae.f467","type":"link out","z":"538bb8bf.9248e8","name":"","links":["8942226f.21d2a"],"x":735,"y":220,"wires":[]},{"id":"242788c5.8046d8","type":"link out","z":"538bb8bf.9248e8","name":"","links":["5d290b25.670624"],"x":615,"y":300,"wires":[]},{"id":"df24e280.581b9","type":"link out","z":"d953a33b.f39fe","name":"","links":["5d290b25.670624"],"x":1295,"y":420,"wires":[]},{"id":"396b450f.4d699a","type":"function","z":"d953a33b.f39fe","name":"Set Global Index","func":"var chat = msg.chat();\nchat.set('index','loterias');\n//return msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[[]]},{"id":"289cc4a2.43ffdc","type":"function","z":"d953a33b.f39fe","name":"get Global payload","func":"var chat = msg.chat();\nvar payload = chat.get('mypayload');\nvar subindex = chat.get('subindex');\nif (payload === null || payload === undefined ){\n    msg.payload = msg.payload.content;\n} else if (subindex === null || subindex === undefined){\n    msg.payload = payload;\n} else {\n     \n    chat.set('concurso', payload);\n    msg.payload = subindex;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":130,"y":140,"wires":[["acefa8af.fa8a58"]]},{"id":"3a2afca2.9f1f34","type":"link out","z":"d953a33b.f39fe","name":"","links":["8942226f.21d2a"],"x":1415,"y":260,"wires":[]},{"id":"5b3b0f0f.cebe","type":"link out","z":"557c4802.319628","name":"","links":["8942226f.21d2a"],"x":615,"y":300,"wires":[]},{"id":"89d789a6.698f78","type":"string","z":"9e78360e.c4c418","name":"isNumeric","methods":[{"name":"isNumeric","params":[]}],"prop":"payload","propout":"numeric","object":"msg","objectout":"msg","x":240,"y":420,"wires":[["5952806f.b7b44"]]},{"id":"5952806f.b7b44","type":"switch","z":"9e78360e.c4c418","name":"","property":"numeric","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":true,"outputs":2,"x":350,"y":500,"wires":[["89ac935d.157ed"],["d102d96.1fe3828"]]},{"id":"d102d96.1fe3828","type":"chatbot-message","z":"9e78360e.c4c418","name":"Renvie  Número","message":[{"message":"Por favor, me envie somente o número!\nPor exemplo: se nasceu em setembro, envie 9.:-*"}],"answer":false,"track":false,"x":640,"y":580,"wires":[["9ced29c.f530ad8"]]},{"id":"9a0ce7b5.63e988","type":"link out","z":"889d43eb.dcdc5","name":"","links":["5d290b25.670624"],"x":635,"y":120,"wires":[]},{"id":"7e1aba0e.269bc4","type":"function","z":"b321fb36.00e188","name":"Set Mega","func":"var chat = msg.chat();\nchat.set('subindex','MEGA');\n//return msg;\n","outputs":1,"noerr":0,"x":460,"y":40,"wires":[[]]},{"id":"f3847a25.6db558","type":"function","z":"b321fb36.00e188","name":"get concurso","func":"var chat = msg.chat();\nvar concurso = chat.get('concurso');\nif (concurso === null || concurso === undefined){\n    return msg;\n} else {\n \n    msg.payload = concurso;\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":60,"wires":[["b0b30f4d.90037"]]},{"id":"808e1662.c082a8","type":"link out","z":"b321fb36.00e188","name":"","links":["5d290b25.670624"],"x":1115,"y":100,"wires":[]},{"id":"4dd12d2e.453fa4","type":"delay","z":"9f4faa7c.1a7738","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":160,"wires":[["367c933.531286c"]]},{"id":"1c3573ed.77893c","type":"delay","z":"6c781cb0.e23264","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":240,"wires":[["43953484.f575fc"]]},{"id":"acefa8af.fa8a58","type":"switch","z":"d953a33b.f39fe","name":"Entrada Loterias","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"Loterias","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":200,"wires":[["396b450f.4d699a","ca91e12c.1bf36","13df2f86.d3e91"],["e8a38329.c1c31"]]},{"id":"ca91e12c.1bf36","type":"chatbot-message","z":"d953a33b.f39fe","name":"Inicia Loterias","message":[{"message":"Ok, {{firstName}}! \nQual jogo você deseja saber o resultado? "}],"answer":false,"track":false,"x":680,"y":80,"wires":[["df24e280.581b9"]]},{"id":"8e29c16b.e2ee4","type":"chatbot-generic-template","z":"d953a33b.f39fe","name":"MEGA-SENA","title":"MEGA-SENA","subtitle":"confira o último resultado","imageUrl":"https://s2.glbimg.com/uwPPBplT0WfaRGYLhKUAC6KE6p8=/0x0:1000x750/1000x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2018/J/I/0Nxyq7QYi7kCbekaBQYA/img-3265.jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"MEGA-SENA","value":"MEGA","answer":"","alert":false,"style":"default"}],"x":660,"y":140,"wires":[["348331d1.7afc9e"]]},{"id":"348331d1.7afc9e","type":"chatbot-generic-template","z":"d953a33b.f39fe","name":"QUINA","title":"QUINA","subtitle":"confira o último resultado","imageUrl":"https://www.afolhahoje.com/loteria/wp-content/uploads/2018/03/02_Quina-1.png","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"QUINA","value":"QUINA","answer":"","alert":false,"style":"default"}],"x":840,"y":140,"wires":[["259019a5.c0e0d6"]]},{"id":"13df2f86.d3e91","type":"delay","z":"d953a33b.f39fe","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":140,"wires":[["8e29c16b.e2ee4"]]},{"id":"259019a5.c0e0d6","type":"chatbot-generic-template","z":"d953a33b.f39fe","name":"LOTOFÁCIL","title":"LOTOFÁCIL","subtitle":"confira o último resultado","imageUrl":"https://www.afolhahoje.com/loteria/wp-content/uploads/2018/03/N%C3%BAmeros-sorteados-na-Lotofacil-de-ontem-concurso-1634-de-sexta-feira-09-de-mar%C3%A7o.jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"LOTOFÁCIL","value":"LOTOFACIL","answer":"","alert":false,"style":"default"}],"x":1010,"y":140,"wires":[["3e405224.9841ae"]]},{"id":"3e405224.9841ae","type":"chatbot-generic-template","z":"d953a33b.f39fe","name":"LOTOMANIA","title":"LOTOMANIA","subtitle":"confira o último resultado","imageUrl":"https://i1.wp.com/blogdolago.com.br/wp-content/uploads/2018/01/lotomania.jpg?w=700","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"LOTOMANIA","value":"LOTOMANIA","answer":"","alert":false,"style":"default"}],"x":650,"y":200,"wires":[["7a733f10.6248b"]]},{"id":"7a733f10.6248b","type":"chatbot-generic-template","z":"d953a33b.f39fe","name":"TIMEMANIA","title":"TIMEMANIA","subtitle":"confira o último resultado","imageUrl":"http://portalcanaa.com.br/wp-content/uploads/2018/02/Novos-Volantes-Loterias-CAIXA-Timemania-1.jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"TIMEMANIA","value":"TIMEMANIA","answer":"","alert":false,"style":"default"}],"x":830,"y":200,"wires":[["e42aa8d0.368558"]]},{"id":"e42aa8d0.368558","type":"chatbot-generic-template","z":"d953a33b.f39fe","name":"DUPLA SENA","title":"DUPLA SENA","subtitle":"confira o último resultado","imageUrl":"http://portalcanaa.com.br/wp-content/uploads/2018/01/Dupla-Sena-Resultadlo-1.jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"DUPLA SENA","value":"DUPLA","answer":"","alert":false,"style":"default"}],"x":1020,"y":200,"wires":[["58c91f36.1a8e1"]]},{"id":"58c91f36.1a8e1","type":"chatbot-generic-template","z":"d953a33b.f39fe","name":"FEDERAL","title":"FEDERAL","subtitle":"confira o último resultado","imageUrl":"https://www.afolhahoje.com/loteria/wp-content/uploads/2018/03/1-logo-caixa-transparente-696x361.png","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"FEDERAL","value":"FEDERAL","answer":"","alert":false,"style":"default"}],"x":650,"y":260,"wires":[["b90428a4.146878"]]},{"id":"b90428a4.146878","type":"chatbot-generic-template","z":"d953a33b.f39fe","name":"LOTECA","title":"LOTECA","subtitle":"confira o último resultado","imageUrl":"https://ganharnaloteria.com/blog/wp-content/uploads/2017/02/Loteca.gif","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"LOTECA","value":"LOTECA","answer":"","alert":false,"style":"default"}],"x":820,"y":260,"wires":[["32e995aa.ce9f1a"]]},{"id":"32e995aa.ce9f1a","type":"chatbot-generic-template","z":"d953a33b.f39fe","name":"LOTOGOL","title":"LOTOGOL","subtitle":"confira o último resultado","imageUrl":"http://2.bp.blogspot.com/-0PyO8ZslpOs/VDvYzeZoRAI/AAAAAAAAU4Q/jSObx0j5g3Q/s1600/bilhete%2Blotogl.jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"LOTOGOL","value":"LOTOGOL","answer":"","alert":false,"style":"default"}],"x":1010,"y":260,"wires":[["df24e280.581b9"]]},{"id":"e8a38329.c1c31","type":"switch","z":"d953a33b.f39fe","name":"Qual","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"MEGA","vt":"str","case":true},{"t":"regex","v":"LOTOFACIL","vt":"str","case":true},{"t":"regex","v":"QUINA","vt":"str","case":true},{"t":"regex","v":"LOTOMANIA","vt":"str","case":true},{"t":"regex","v":"TIMEMANIA","vt":"str","case":true},{"t":"regex","v":"DUPLA","vt":"str","case":true},{"t":"regex","v":"FEDERAL","vt":"str","case":true},{"t":"regex","v":"LOTECA","vt":"str","case":true},{"t":"regex","v":"LOTOGOL","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":10,"x":270,"y":480,"wires":[["47a9e830.a32708"],["709966ce.1ae228"],["eecddf1d.accc4"],["b23bcd36.2c252"],["3107dc8b.628fa4"],["e325966c.6f0738"],["33316364.e7ba7c"],["3382101b.60c85"],["328568cb.c724e8"],["fbc27465.904aa8"]]},{"id":"328568cb.c724e8","type":"chatbot-inline-buttons","z":"d953a33b.f39fe","name":"LOTOGOL","buttons":[{"type":"url","label":"LOTOGOL","url":"http://www.loterias.caixa.gov.br/wps/portal/loterias/landing/lotogol","webViewHeightRatio":"tall","extensions":false,"answer":"","alert":false}],"message":"Para melhor visualização, \npor favor, clique abaixo:","x":570,"y":1160,"wires":[["f00e4865.4ff388","8e894cc7.5c61a"]]},{"id":"3382101b.60c85","type":"chatbot-inline-buttons","z":"d953a33b.f39fe","name":"LOTECA","buttons":[{"type":"url","label":"LOTECA","url":"http://www.loterias.caixa.gov.br/wps/portal/loterias/landing/loteca","webViewHeightRatio":"tall","extensions":false,"answer":"","alert":false}],"message":"Para melhor visualização, \npor favor, clique abaixo:","x":560,"y":1100,"wires":[["f00e4865.4ff388","8e894cc7.5c61a"]]},{"id":"33316364.e7ba7c","type":"chatbot-inline-buttons","z":"d953a33b.f39fe","name":"FEDERAL","buttons":[{"type":"url","label":"FEDERAL","url":"http://www.loterias.caixa.gov.br/wps/portal/loterias/landing/federal","webViewHeightRatio":"tall","extensions":false,"answer":"","alert":false}],"message":"Para melhor visualização, \npor favor, clique abaixo:","x":570,"y":1040,"wires":[["f00e4865.4ff388","8e894cc7.5c61a"]]},{"id":"f00e4865.4ff388","type":"link out","z":"d953a33b.f39fe","name":"","links":["5d290b25.670624"],"x":1035,"y":1120,"wires":[]},{"id":"fbc27465.904aa8","type":"link out","z":"d953a33b.f39fe","name":"","links":["8d9fad93.055d7"],"x":580,"y":1280,"wires":[]},{"id":"8e894cc7.5c61a","type":"delay","z":"d953a33b.f39fe","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":1240,"wires":[["d1a64ff8.22b7b"]]},{"id":"d1a64ff8.22b7b","type":"chatbot-message","z":"d953a33b.f39fe","name":"Outro Jogo","message":[{"message":"{{firstName}}, \nse deseja ver mais algum \nresultado, digite o nome da loteria!"}],"answer":false,"track":false,"x":950,"y":1240,"wires":[["f00e4865.4ff388"]]},{"id":"c3d49341.f90c","type":"chatbot-generic-template","z":"a4c8268d.c66288","name":"Habitação","title":"Financiamento Habitacional","subtitle":"A Caixa está ao seu lado para realizar o sonho da casa própria.","imageUrl":"http://www.blogcongesa.com.br/wp-content/uploads/2016/12/SEGUNDA-VIA-BOLETO-HABITAC%CC%A7A%CC%83O-CAIXA-ECONOMICA-%E2%80%93-PAGAR-BOLETO-HABITAC%CC%A7A%CC%83O-1.jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Habitação","value":"Habitação","answer":"","alert":false,"style":"default"}],"x":260,"y":360,"wires":[["af902519.80e388"]]},{"id":"af902519.80e388","type":"chatbot-generic-template","z":"a4c8268d.c66288","name":"Cartões","title":"Cartões Caixa","subtitle":"Suas necessidades evoluíram. Nossos cartões também.","imageUrl":"https://i0.wp.com/www.dsvc.com.br/wp-content/uploads/2017/01/Cartoes-CAIXA.png","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Cartões","value":"Cartões","answer":"","alert":false,"style":"default"}],"x":420,"y":360,"wires":[["b950e953.26c4f8"]]},{"id":"b950e953.26c4f8","type":"chatbot-generic-template","z":"a4c8268d.c66288","name":"Loterias","title":"Loterias Caixa","subtitle":"Confira os Últimos resultados","imageUrl":"http://www.newsrondonia.com.br/imagensNoticias/image/00(775).jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Loterias","value":"Loterias","answer":"","alert":false,"style":"default"}],"x":260,"y":420,"wires":[["4dd53414.7cadac"]]},{"id":"4dd53414.7cadac","type":"chatbot-generic-template","z":"a4c8268d.c66288","name":"Programas Sociais","title":"Benefícios Sociais","subtitle":"Descubra todos os benefícios que a Caixa pode oferecer a você.","imageUrl":"http://calendariobolsafamilia2015.com.br/wp-content/uploads/2017/03/cartao-cidadao.jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Abono do PIS","value":"PIS","answer":"","alert":false,"style":"default"},{"type":"postback","label":"Bolsa Família","value":"Bolsa","answer":"","alert":false,"style":""}],"x":450,"y":420,"wires":[["eb7f2400.a122a8"]]},{"id":"43953484.f575fc","type":"chatbot-generic-template","z":"6c781cb0.e23264","name":"Habitação","title":"Financiamento Habitacional","subtitle":"A Caixa está ao seu lado para realizar o sonho da casa própria.","imageUrl":"http://www.blogcongesa.com.br/wp-content/uploads/2016/12/SEGUNDA-VIA-BOLETO-HABITAC%CC%A7A%CC%83O-CAIXA-ECONOMICA-%E2%80%93-PAGAR-BOLETO-HABITAC%CC%A7A%CC%83O-1.jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Habitação","value":"Habitação","answer":"","alert":false,"style":"default"}],"x":420,"y":340,"wires":[["4c0e88fe.98f018"]]},{"id":"d208840.bd1f88","type":"chatbot-generic-template","z":"6c781cb0.e23264","name":"Loterias","title":"Loterias Caixa","subtitle":"Confira os Últimos resultados","imageUrl":"http://www.newsrondonia.com.br/imagensNoticias/image/00(775).jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Loterias","value":"Loterias","answer":"","alert":false,"style":"default"}],"x":420,"y":400,"wires":[["2b97d24f.1451fe"]]},{"id":"4c0e88fe.98f018","type":"chatbot-generic-template","z":"6c781cb0.e23264","name":"Cartões","title":"Cartões Caixa","subtitle":"Suas necessidades evoluíram. Nossos cartões também.","imageUrl":"https://i0.wp.com/www.dsvc.com.br/wp-content/uploads/2017/01/Cartoes-CAIXA.png","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Cartões","value":"Cartões","answer":"","alert":false,"style":"default"}],"x":580,"y":340,"wires":[["d208840.bd1f88"]]},{"id":"2b97d24f.1451fe","type":"chatbot-generic-template","z":"6c781cb0.e23264","name":"Programas Sociais","title":"Benefícios Sociais","subtitle":"Descubra todos os benefícios que a Caixa pode oferecer a você.","imageUrl":"http://calendariobolsafamilia2015.com.br/wp-content/uploads/2017/03/cartao-cidadao.jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Abono do PIS","value":"PIS","answer":"","alert":false,"style":"default"},{"type":"postback","label":"Bolsa Família","value":"Bolsa","answer":"","alert":false,"style":""}],"x":610,"y":400,"wires":[["68931ef1.bf9e5"]]},{"id":"16aedc58.f33ed4","type":"switch","z":"92ee70f2.0a47c","name":"Switch Bolsa Família","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"Bolsa","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":840,"y":240,"wires":[["85a04bc2.807008"],["54c963e7.7689fc"]]},{"id":"e5359870.35a4d8","type":"link in","z":"b3893c32.59a1a","name":"","links":["85a04bc2.807008","9fed5f59.5323e"],"x":55,"y":120,"wires":[["e9a3ede.be8121"]]},{"id":"e9a3ede.be8121","type":"function","z":"b3893c32.59a1a","name":"get Global payload","func":"//var chat = msg.chat();\n//var mypayload = \"payload\"+chat.get('chatId');\n//var payload = global.get('mypayload');\n//if (payload === null || payload === undefined ){\n//    msg.payload = msg.payload.content;\n//} else {\n//    msg.payload = payload;\n//}\n//return msg;\nvar chat = msg.chat();\n//var mypayload = \"payload\"+chat.get('chatId');\nvar payload = chat.get('mypayload');//global.get('mypayload');\nif (payload === null || payload === undefined ){\n    msg.payload = msg.payload.content;\n} else {\n    msg.payload = payload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":120,"wires":[["1312d3ed.8c72ac"]]},{"id":"1312d3ed.8c72ac","type":"switch","z":"b3893c32.59a1a","name":"Entrada Bolsa","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"Bolsa","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":260,"y":240,"wires":[["d1f89c94.8c613","6439f1aa.dd0d8","e2c061ac.0046d"],["9e10bb9d.a42918"]]},{"id":"d1f89c94.8c613","type":"function","z":"b3893c32.59a1a","name":"Set Global Index","func":"var chat = msg.chat();\nvar id = chat.get('chatId');\nchat.set('index','bolsa');","outputs":1,"noerr":0,"x":490,"y":100,"wires":[[]]},{"id":"85a04bc2.807008","type":"link out","z":"92ee70f2.0a47c","name":"","links":["e5359870.35a4d8"],"x":1060,"y":220,"wires":[]},{"id":"9e10bb9d.a42918","type":"link out","z":"b3893c32.59a1a","name":"","links":["8d9fad93.055d7"],"x":495,"y":380,"wires":[]},{"id":"30ed07c.4b513f8","type":"chatbot-inline-buttons","z":"b3893c32.59a1a","name":"Bolsa Familia","buttons":[{"type":"url","label":"Calendário de Pagamentos ","url":"http://www.mds.gov.br/webarquivos/arquivo/bolsa_familia/calendario_bf/calendario_BolsaFamilia_2018.jpg","webViewHeightRatio":"tall","extensions":false,"answer":"","alert":false}],"message":"Bolsa Familia","x":640,"y":200,"wires":[["3bba7241.6af9ae","b2cfce57.cf71b"]]},{"id":"3bba7241.6af9ae","type":"link out","z":"b3893c32.59a1a","name":"","links":["5d290b25.670624"],"x":895,"y":200,"wires":[]},{"id":"c31a9a63.63da18","type":"link out","z":"b3893c32.59a1a","name":"","links":["8942226f.21d2a"],"x":900,"y":260,"wires":[]},{"id":"b2cfce57.cf71b","type":"delay","z":"b3893c32.59a1a","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":260,"wires":[["c31a9a63.63da18"]]},{"id":"6439f1aa.dd0d8","type":"chatbot-message","z":"b3893c32.59a1a","name":"Calendário","message":[{"message":"{{firstName}},\nclique no botão abaixo para ver o calendário de pagamento do programa bolsa família 2018."}],"answer":false,"track":false,"x":550,"y":280,"wires":[["3bba7241.6af9ae"]]},{"id":"e2c061ac.0046d","type":"delay","z":"b3893c32.59a1a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":220,"wires":[["30ed07c.4b513f8"]]},{"id":"954eb2ff.a0afe","type":"function","z":"383b3136.8728be","name":"Habitação","func":"var chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = \"Como quer iniciar seu atendimento? Escolha uma das opções para encontrar um financiamento que é a sua cara.\";\n\nmsg.payload = {chatId : chatId, type : 'message', content : msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["de73b241.b1b33"]]},{"id":"877239d4.904658","type":"link in","z":"383b3136.8728be","name":"","links":["218f060c.b418ca"],"x":15,"y":80,"wires":[["ad36f8.baee2908"]]},{"id":"7f7e1b0.fbc71e4","type":"function","z":"383b3136.8728be","name":"Set Global Index","func":"var chat = msg.chat();\n//var id = chat.get('chatId');\nchat.set('index','habitacao');\n","outputs":1,"noerr":0,"x":410,"y":100,"wires":[[]]},{"id":"ad36f8.baee2908","type":"function","z":"383b3136.8728be","name":"get Global payload","func":"//var chat = msg.chat();\n//var mypayload = \"payload\"+chat.get('chatId');\n//var payload = global.get('mypayload');\n//if (payload === null || payload === undefined ){\n//    msg.payload = msg.payload.content;\n//} else {\n//    msg.payload = payload;\n//}\n//return msg;\nvar chat = msg.chat();\n//var mypayload = \"payload\"+chat.get('chatId');\nvar payload = chat.get('mypayload');//global.get('mypayload');\nif (payload === null || payload === undefined ){\n    msg.payload = msg.payload.content;\n} else {\n    msg.payload = payload;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":130,"y":140,"wires":[["66ce512b.165d8"]]},{"id":"de73b241.b1b33","type":"link out","z":"383b3136.8728be","name":"","links":["5d290b25.670624"],"x":2075,"y":160,"wires":[]},{"id":"66ce512b.165d8","type":"switch","z":"383b3136.8728be","name":"Entrada habitação","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"Habitação","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":170,"y":220,"wires":[["954eb2ff.a0afe","7f7e1b0.fbc71e4","a5883fa8.67917"],["7df7345d.fedd9c"]]},{"id":"407df917.1f2038","type":"switch","z":"383b3136.8728be","name":"Tipo Atendimento","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"Imovel","vt":"str","case":true},{"t":"regex","v":"Imóvel","vt":"str","case":true},{"t":"regex","v":"Financiamento","vt":"str","case":true},{"t":"regex","v":"0.8","vt":"str","case":true},{"t":"regex","v":"0.5","vt":"str","case":true},{"t":"cont","v":"/","vt":"str"},{"t":"regex","v":"PRO","vt":"str","case":true},{"t":"regex","v":"Não","vt":"str","case":true},{"t":"regex","v":"Sair","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":true,"outputs":10,"x":330,"y":320,"wires":[["9839bbe2.29dd98"],["9839bbe2.29dd98"],["304d9102.dd18fe"],["b9d04c64.a6c2c","847c2212.9d333"],["b9d04c64.a6c2c","847c2212.9d333"],["3902071e.9796d8","495ece65.e32ee"],["284c7ba4.66f424"],["6e2ac2fb.e538ec"],["6e2ac2fb.e538ec"],["f0fbde26.3cfb3"]]},{"id":"1082487f.b117f8","type":"http request","z":"383b3136.8728be","name":"","method":"POST","ret":"obj","url":"https://servicoshabitacao.caixa.gov.br/siopiws-restful/ws/simulador/enquadramentos","tls":"80094204.91c78","x":1130,"y":460,"wires":[["b5d8fb07.f4e398","ca454852.8e2a28"]]},{"id":"f0fbde26.3cfb3","type":"chatbot-inline-buttons","z":"383b3136.8728be","name":"Novo/Usado","buttons":[{"type":"postback","label":"NOVO","value":"0.8","answer":"","alert":false,"style":"danger"},{"type":"postback","label":"USADO","value":"0.5","answer":"","alert":false,"style":"danger"}],"message":"Por enquanto, só consigo fazer uma simulação para imóvel residencial novo ou usuado, por favor, selecione a melhor opção para você.","x":570,"y":380,"wires":[["de73b241.b1b33"]]},{"id":"a5883fa8.67917","type":"chatbot-generic-template","z":"383b3136.8728be","name":"Valor do Imóvel","title":"Valor do Imóvel","subtitle":"Selecione o botão abaixo","imageUrl":"https://imagens.revista.zapcorp.com.br/wp-content/uploads/2018/01/financiamento.jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Valor do Imóvel","value":"Imovel","answer":"","alert":false,"style":"default"}],"x":600,"y":40,"wires":[["f67b595f.ddb9d8"]]},{"id":"f67b595f.ddb9d8","type":"chatbot-generic-template","z":"383b3136.8728be","name":"Valor do Financiamento","title":"Valor do Financiamento","subtitle":"Selecione o botão abaixo","imageUrl":"https://www.chavesnamao.com.br/noticias/wp-content/uploads/2015/12/o-imovel-desejado-cabe-no-seu-bolso-confira-5-dicas-para-n%C3%A3o-se-endividar.jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Valor do Financiamento","value":"Financiamento","answer":"","alert":false,"style":"default"}],"x":870,"y":40,"wires":[["975eed90.fd10c"]]},{"id":"975eed90.fd10c","type":"chatbot-generic-template","z":"383b3136.8728be","name":"Valor da Prestação","title":"Valor da Prestação","subtitle":"Selecione o botão abaixo","imageUrl":"https://www.clickhabitacao.com.br/wp-content/uploads/2016/05/diminuir-prestacao.jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Valor da Prestacao","value":"Imovel","answer":"","alert":false,"style":"default"}],"x":690,"y":100,"wires":[["ca6a9252.6a09e"]]},{"id":"ca6a9252.6a09e","type":"chatbot-generic-template","z":"383b3136.8728be","name":"Valor da Renda","title":"Valor da Renda","subtitle":"Selecione o botão abaixo","imageUrl":"https://www.mixvale.com.br/wp-content/uploads/2018/02/dinheiro-1-1.jpg","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Valor da Renda","value":"Imovel","answer":"","alert":false,"style":"default"}],"x":940,"y":100,"wires":[["4f8112ff.1d5bdc"]]},{"id":"4f8112ff.1d5bdc","type":"delay","z":"383b3136.8728be","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1380,"y":100,"wires":[["de73b241.b1b33"]]},{"id":"6a920cc9.b62fc4","type":"function","z":"383b3136.8728be","name":"Set Global Index","func":"var chat = msg.chat();\nvar id = chat.get('chatId');\nchat.set('atendimento','Imovel');\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":200,"wires":[[]]},{"id":"4a148cb4.ed27a4","type":"inject","z":"a4c8268d.c66288","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":60,"wires":[["7bb61026.2cdd5"]]},{"id":"57af584c.7c6408","type":"chatbot-message","z":"383b3136.8728be","name":"nascimento","message":[{"message":"Agora, me informe a sua data de nascimento.\n(Ex. 28/03/1980)"}],"answer":false,"track":false,"x":570,"y":420,"wires":[["933dfd6b.67ab9"]]},{"id":"3902071e.9796d8","type":"chatbot-message","z":"383b3136.8728be","name":"onde","message":[{"message":"Antes de fazer a sua simulação, preciso saber onde você quer comprar o seu imóvel?\n"}],"answer":false,"track":false,"x":550,"y":340,"wires":[["933dfd6b.67ab9"]]},{"id":"495ece65.e32ee","type":"function","z":"383b3136.8728be","name":"Set Global Index","func":"var chat = msg.chat();\nvar id = chat.get('chatId');\nmsg.payload = msg.payload.substr(6,4) + msg.payload.substr(3,2) + msg.payload.substr(0,2);\nchat.set('nasc', msg.payload);\n//msg.payload = global.get(('nasc'+id));\nreturn msg;\n","outputs":1,"noerr":0,"x":890,"y":540,"wires":[[]]},{"id":"933dfd6b.67ab9","type":"link out","z":"383b3136.8728be","name":"","links":["5d290b25.670624"],"x":975,"y":320,"wires":[]},{"id":"9839bbe2.29dd98","type":"chatbot-message","z":"383b3136.8728be","name":"Valor do Imóvel","message":[{"message":"{{firstName}},\nDigite o valor do imóvel, por favor!\n(Ex: 180000)"}],"answer":false,"track":false,"x":580,"y":280,"wires":[["933dfd6b.67ab9","6a920cc9.b62fc4"]]},{"id":"89f0667c.62a038","type":"http request","z":"d953a33b.f39fe","name":"","method":"POST","ret":"obj","url":"https://api.caixa.gov.br:8443/loterias/v2/resultados/Mega-Sena","tls":"9a5e8a2d.bf6dc8","x":750,"y":420,"wires":[["51a68a46.b292e4"]]},{"id":"51a68a46.b292e4","type":"function","z":"d953a33b.f39fe","name":"Dados Mega","func":"var ganhadores = msg.payload.resultado.ganhadores;\nvar vrEstimativa = msg.payload.resultado.vr_estimativa;\nvar sorteados =msg.payload.resultado.resultado;\nvar concurso = msg.payload.resultado.concurso;\n\n\nif(ganhadores === 0){\n\nvar acumulado = formataReal(msg.payload.resultado.VALOR_ACUMULADO);\nmega = \"Acumulou!\\nconcurso: \" +\n concurso + \"\\nresultado: \" + sorteados +\n \"\\nAcumulado próximo concurso:\"+ acumulado;\n \n} else{\n    \nvar premio = formataReal(msg.payload.resultado.VALOR);\nmega = \"concurso: \"+concurso + \" - \"+ ganhadores + \"ganhador(es)!\\nPrêmio:\"+premio+\"\\nnúmeros sorteados:\\n\"+sorteados;    \n\n}\n\npayload = mega + \"\\n\\nA loteria que paga milhões para o acertador dos seis números sorteados.\"\nvar chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = {chatId : chatId, type : 'message', content : payload};\nreturn msg;\n\nfunction formataReal(n) {\nvar v= n.replace(/\\D/g,\"\").replace(/(\\d{2})$/,\",$1\").replace(/(\\d+)(\\d{3},\\d{2})$/g,\"$1.$2\");\nvar qtdLoop = (v.length-3)/3;\nvar count = 0;\n\nwhile (qtdLoop > count)\n\n{\ncount++;\nv=v.replace(/(\\d+)(\\d{3}.*)/,\"$1.$2\"); //Coloca o resto dos pontos\n}\nreturn \"R$ \" + v;\n}\n","outputs":1,"noerr":0,"x":960,"y":420,"wires":[["75e5cbf.b231d34","df24e280.581b9","948e36c8.17bc98"]]},{"id":"75e5cbf.b231d34","type":"delay","z":"d953a33b.f39fe","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":360,"wires":[["3a2afca2.9f1f34"]]},{"id":"c496454e.1e8cc8","type":"function","z":"d953a33b.f39fe","name":"Dados Lotofacil","func":"var ganhadores = msg.payload.resultado.qt_ganhador_faixa1;\nvar premio = formataReal(msg.payload.resultado.vr_rateio_faixa1.substr(0,9));\n//var vrEstimativa = msg.payload.resultado.vr_estimativa;\nvar sorteados =msg.payload.resultado.de_resultado;\nvar concurso = msg.payload.resultado.nu_concurso;\n//var acumulado = formataReal(msg.payload.resultado.VALOR_ACUMULADO);\n\nif(ganhadores === 0){\nmega = \"Acumulou!\\nconcurso: \" +\n concurso + \"\\nnúmeros sorteados: \" + sorteados +\n \"\\nAcumulado próximo concurso:\"+ acumulado;\n \n} else{\n    \nmega = \"concurso: \"+concurso + \"\\n\"+ ganhadores + \" ganhador(es)!\\nPrêmio:\"+premio+\"\\nnúmeros sorteados:\\n\"+sorteados;    \n}\n\npayload = mega + \"\\n\\nMais chances de ganhar: marque até 18 números dentre os 25 existentes.\"\nvar chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = {chatId : chatId, type : 'message', content : payload};\nreturn msg;\n\nfunction formataReal(n) {\nvar v= n.replace(/\\D/g,\"\").replace(/(\\d{2})$/,\",$1\").replace(/(\\d+)(\\d{3},\\d{2})$/g,\"$1.$2\");\nvar qtdLoop = (v.length-3)/3;\nvar count = 0;\n\nwhile (qtdLoop > count)\n\n{\ncount++;\nv=v.replace(/(\\d+)(\\d{3}.*)/,\"$1.$2\"); //Coloca o resto dos pontos\n}\nreturn \"R$ \" + v;\n}\n","outputs":1,"noerr":0,"x":790,"y":820,"wires":[["df24e280.581b9","75e5cbf.b231d34"]]},{"id":"709966ce.1ae228","type":"http request","z":"d953a33b.f39fe","name":"","method":"POST","ret":"obj","url":"https://api.caixa.gov.br:8443/loterias/v2/resultados/Lotofacil?concurso=1644 ","tls":"9a5e8a2d.bf6dc8","x":570,"y":820,"wires":[["c496454e.1e8cc8","4a61850a.0038ec"]]},{"id":"eecddf1d.accc4","type":"http request","z":"d953a33b.f39fe","name":"","method":"POST","ret":"obj","url":"https://api.caixa.gov.br:8443/loterias/v2/resultados/Quina?concurso=","tls":"9a5e8a2d.bf6dc8","x":570,"y":860,"wires":[["9c6d34c8.cd6938","4a61850a.0038ec"]]},{"id":"9c6d34c8.cd6938","type":"function","z":"d953a33b.f39fe","name":"Dados Quina","func":"var ganhadores = msg.payload.resultado.ganhadores;\nvar sorteados =msg.payload.resultado.resultado;\nvar concurso = msg.payload.resultado.concurso;\n\nif(ganhadores === 0){\n    \nvar acumulado = msg.payload.resultado.VALOR_ACUMULADO;\nmega = \"Acumulou!\\nconcurso: \" +\n concurso + \"\\nnúmeros sorteados: \" + sorteados +\n \"\\nAcumulado próximo concurso:\"+acumulado;\n \n} else{\nvar premio = msg.payload.resultado.valor1;\nmega = \"concurso: \"+concurso + \"\\n \"+ ganhadores + \"ganhador(es)!\\nPrêmio:\"+premio+\"\\nnúmeros sorteados:\\n\"+sorteados;    \n}\n\npayload = mega + \"\\n\\nNa Quina, você aposta de 5 a 15 números, dentre os 80 disponíveis, e concorre a prêmios de valores grandiosos.\"\nvar chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = {chatId : chatId, type : 'message', content : payload};\nreturn msg;\n\nfunction formataReal(n) {\nvar v= n.replace(/\\D/g,\"\").replace(/(\\d{2})$/,\",$1\").replace(/(\\d+)(\\d{3},\\d{2})$/g,\"$1.$2\");\nvar qtdLoop = (v.length-3)/3;\nvar count = 0;\n\nwhile (qtdLoop > count)\n\n{\ncount++;\nv=v.replace(/(\\d+)(\\d{3}.*)/,\"$1.$2\"); //Coloca o resto dos pontos\n}\nreturn \"R$ \" + v;\n}\n","outputs":1,"noerr":0,"x":780,"y":860,"wires":[["df24e280.581b9","75e5cbf.b231d34"]]},{"id":"b23bcd36.2c252","type":"http request","z":"d953a33b.f39fe","name":"","method":"POST","ret":"obj","url":"https://api.caixa.gov.br:8443/loterias/v2/resultados/Lotomania?concurso=1853","tls":"9a5e8a2d.bf6dc8","x":560,"y":900,"wires":[["85b1ab26.dd3338"]]},{"id":"85b1ab26.dd3338","type":"function","z":"d953a33b.f39fe","name":"Dados Lotomania","func":"var ganhadores = msg.payload.resultado.qt_ganhadores_faixa1;\nvar premio = formataReal(msg.payload.resultado.vr_acumulado_faixa1);\n//var vrEstimativa = msg.payload.resultado.vr_estimativa;\nvar sorteados =msg.payload.resultado.de_resultado;\nvar concurso = msg.payload.resultado.co_concurso;\nvar acumulado = formataReal(msg.payload.resultado.VR_ESTIMATIVA.substr(0,10));\n\nif(ganhadores === 0){\nmega = \"Acumulou!\\nconcurso: \" +\n concurso + \"\\nnúmeros sorteados: \" + sorteados +\n \"\\nAcumulado próximo concurso:\"+ acumulado;\n \n} else{\n    \nmega = \"concurso: \"+concurso + \"\\n \"+ ganhadores + \" ganhador(es)!\\nPrêmio:\"+premio+\"\\nnúmeros sorteados:\\n\"+sorteados;    \n}\n\npayload = mega + \"\\n\\nGanhe acertando 15, 16, 17, 18, 19, 20 ou nenhum número. Fácil de apostar e de ganhar.\"\nvar chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = {chatId : chatId, type : 'message', content : payload};\nreturn msg;\n\nfunction formataReal(n) {\nvar v= n.replace(/\\D/g,\"\").replace(/(\\d{2})$/,\",$1\").replace(/(\\d+)(\\d{3},\\d{2})$/g,\"$1.$2\");\nvar qtdLoop = (v.length-3)/3;\nvar count = 0;\n\nwhile (qtdLoop > count)\n\n{\ncount++;\nv=v.replace(/(\\d+)(\\d{3}.*)/,\"$1.$2\"); //Coloca o resto dos pontos\n}\nreturn \"R$ \" + v;\n}\n","outputs":1,"noerr":0,"x":790,"y":900,"wires":[["df24e280.581b9","75e5cbf.b231d34"]]},{"id":"3107dc8b.628fa4","type":"http request","z":"d953a33b.f39fe","name":"","method":"POST","ret":"obj","url":"https://api.caixa.gov.br:8443/loterias/v2/resultados/Timemania?concurso=1161","tls":"9a5e8a2d.bf6dc8","x":570,"y":940,"wires":[["73a9edc0.f0db64"]]},{"id":"73a9edc0.f0db64","type":"function","z":"d953a33b.f39fe","name":"Dados Timemania","func":"var ganhadores = msg.payload.resultado.QT_GANHADOR_FAIXA_1;\nvar premio = formataReal(msg.payload.resultado.VR_RATEIO_FAIXA_1);\n//var vrEstimativa = msg.payload.resultado.vr_estimativa;\nvar sorteados =msg.payload.resultado.DE_RESULTADO;\nvar concurso = msg.payload.resultado.NU_CONCURSO;\nvar acumulado = formataReal(msg.payload.resultado.VR_ESTIMATIVA_FAIXA_1.substr(0,10));\n\nif(ganhadores === 0){\nmega = \"Acumulou!\\nconcurso: \" +\n concurso + \"\\nnúmeros sorteados: \" + sorteados +\n \"\\nAcumulado próximo concurso:\"+ acumulado;\n \n} else{\n    \nmega = \"concurso: \"+concurso + \"\\n \"+ ganhadores + \"ganhador(es)!\\nPrêmio:\"+premio+\"\\nnúmeros sorteados:\\n\"+sorteados;    \n}\n\npayload = mega + \"\\n\\nOnde seu palpite vale uma bolada e ainda ajuda seu time do coração.\"\nvar chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = {chatId : chatId, type : 'message', content : payload};\nreturn msg;\n\nfunction formataReal(n) {\nvar v= n.replace(/\\D/g,\"\").replace(/(\\d{2})$/,\",$1\").replace(/(\\d+)(\\d{3},\\d{2})$/g,\"$1.$2\");\nvar qtdLoop = (v.length-3)/3;\nvar count = 0;\n\nwhile (qtdLoop > count)\n\n{\ncount++;\nv=v.replace(/(\\d+)(\\d{3}.*)/,\"$1.$2\"); //Coloca o resto dos pontos\n}\nreturn \"R$ \" + v;\n}\n","outputs":1,"noerr":0,"x":800,"y":940,"wires":[["df24e280.581b9","75e5cbf.b231d34"]]},{"id":"e325966c.6f0738","type":"http request","z":"d953a33b.f39fe","name":"","method":"POST","ret":"obj","url":"https://api.caixa.gov.br:8443/loterias/v2/resultados/Dupla-Sena?concurso=1771","tls":"9a5e8a2d.bf6dc8","x":570,"y":980,"wires":[["74a5bb67.909e44"]]},{"id":"74a5bb67.909e44","type":"function","z":"d953a33b.f39fe","name":"Dados Dupla","func":"var ganhadores = msg.payload.resultado.ganhadores_sena1;\nvar ganhadores2 = msg.payload.resultado.ganhadores_sena1;\n//var vrEstimativa = msg.payload.resultado.vr_estimativa;\nvar sorteados1 =msg.payload.resultado.resultado_sorteio1;\nvar sorteados2 =msg.payload.resultado.resultado_sorteio2;\nvar concurso = msg.payload.resultado.concurso;\n\nif(ganhadores === 0){\n\nvar acumulado = formataReal(msg.payload.resultado.VALOR_ESTIMATIVA.substr(0,11));\nmega = \"Acumulou!\\nconcurso: \" +\n concurso + \"\\nnúmeros sorteados 1º sorteio: \" + sorteados1 +\n \"\\nnúmeros sorteados 2º sorteio: \" + sorteados2 +\n \"\\nAcumulado próximo concurso:\"+ acumulado;\n \n} else{\nvar premio = formataReal(msg.payload.resultado.valor_sena1.substr(0,9));\nmega = \"concurso: \"+concurso + \"\\n1º sorteio - \"+ ganhadores + \"ganhador(es)!\\nnúmeros sorteados:\\n\"+sorteados1+\n\"2º sorteio - \"+ ganhadores2 + \"ganhador(es)!\\nnúmeros sorteados:\\n\"+sorteados2+\"\\n prémio:\"+premio;    \n}\n\npayload = mega + \"\\n\\nCom o mesmo bilhete, você participa de 2 sorteios por concurso: o dobro de chances de ganhar.\"\nvar chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = {chatId : chatId, type : 'message', content : payload};\nreturn msg;\n\nfunction formataReal(n) {\nvar v= n.replace(/\\D/g,\"\").replace(/(\\d{2})$/,\",$1\").replace(/(\\d+)(\\d{3},\\d{2})$/g,\"$1.$2\");\nvar qtdLoop = (v.length-3)/3;\nvar count = 0;\n\nwhile (qtdLoop > count)\n\n{\ncount++;\nv=v.replace(/(\\d+)(\\d{3}.*)/,\"$1.$2\"); //Coloca o resto dos pontos\n}\nreturn \"R$ \" + v;\n}\n","outputs":1,"noerr":0,"x":780,"y":980,"wires":[["75e5cbf.b231d34","df24e280.581b9"]]},{"id":"9fed5f59.5323e","type":"link out","z":"92ee70f2.0a47c","name":"","links":["e5359870.35a4d8"],"x":760,"y":340,"wires":[]},{"id":"7df7345d.fedd9c","type":"string","z":"383b3136.8728be","name":"isNumeric","methods":[{"name":"isNumeric","params":[]}],"prop":"payload","propout":"numeric","object":"msg","objectout":"msg","x":100,"y":340,"wires":[["72b94e93.fcb"]]},{"id":"72b94e93.fcb","type":"switch","z":"383b3136.8728be","name":"","property":"numeric","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":true,"outputs":2,"x":90,"y":400,"wires":[["407df917.1f2038"],["df0bcba9.1d3d08"]]},{"id":"a43c045.572b5f8","type":"function","z":"383b3136.8728be","name":"Set Global Index","func":"var chat = msg.chat();\n//var id = chat.get('chatId');\nchat.set('valor', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":440,"wires":[[]]},{"id":"b9d04c64.a6c2c","type":"function","z":"383b3136.8728be","name":"Calculo Habitação","func":"var taxa = msg.paylod;\nvar chat = msg.chat();\nvar nascimento = chat.get('nasc');\nvar atendimento = chat.get('atend');\nvar valor = parseInt(chat.get('valor'));\nvar renda = (((valor * msg.payload)*0.0115)/0.3);\nvar financiamento = ((valor * msg.payload));\nvar prestacao = (renda * 0.3);\nchat.set('renda', renda);\nmsg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Accept\" : \"application/json\"\n     };\nmsg.payload = {\n  \"HEAD\": {\n    \"servico\": \"S001.002\",\n    \"tipo\": \"REQ\",\n    \"timestamp\": \"20180310175030\",\n    \"usuario\": \"SIOPI\",\n    \"versao\": \"1.0\",\n    \"canal\": \"003\"\n  },\n  \"BODY\": {\n    \"tipoPessoa\": \"1\",\n    \"tipoFinanciamento\": 1,\n    \"categoriaImovel\": 1,\n    \"valorObraReforma\": null,\n    \"possuoFinanciamentoHabitacionalCaixa\": \"N\",\n    \"valorAproximadoImovel\": valor ,\n    \"ufImovel\": \"DF\",\n    \"municipioImovel\": 1809,\n    \"possuoImovelMunicipio\": \"N\",\n    \"cpf\": \"99999999999\",\n    \"numeroTelefoneCelular\": \"61999999999\",\n    \"aceitoReceberSms\": \"N\",\n    \"rendaBrutaFamiliarMensal\": Math.round(renda) ,\n    \"dataNascimentoComprador\": nascimento ,\n    \"subsidioFgtsUniao\": \"N\",\n    \"dataBeneficioConcedido\": \"\",\n    \"trabalhoSobFgts\": \"N\",\n    \"fatorSocial\": \"N\",\n    \"numeroAPF\": \"\"\n  }\n}\n\nchat.set('calculo', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":460,"wires":[["1082487f.b117f8","e17b58f8.c0c5a8"]]},{"id":"b5d8fb07.f4e398","type":"function","z":"383b3136.8728be","name":"Calculo Simulação","func":"var chat = msg.chat();\nvar nascimento = chat.get('nasc');\nvar atendimento = chat.get('atend');\nvar valor = parseInt(chat.get('valor'));\nvar renda = chat.get('renda');\n//var financiamento = ((valor * msg.payload));\nvar prestacao = (renda * 0.3);\nvar produto0 = msg.payload.BODY.resultadoProcessamento.produtos.produto[0].codigo;\nif (produto0 === 100501103 || produto0 ===100501100){\n     msg.payload = \"Desculpe-me, mas essas condições não foram acatadas, por favor, tente novamente.\";\n    return [msg, null];\n}\nvar produto = msg.payload.BODY.resultadoProcessamento.produtos.produto[1].codigo;\nif (produto0 === null || produto0 === undefined){\n     msg.payload = \"Desculpe-me, mas essas condições não foram acatadas, por favor, tente novamente.\";\n    return [msg, null];\n}\nif (produto === null || produto === undefined){\n    msg.payload = \"Desculpe-me, mas essas condições acatadas, por favor, tente novamente.\";\n    return [msg, null];\n} else {\n    msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Accept\" : \"application/json\"\n     };\nmsg.payload = {\nHEAD : {\n    \"servico\" : \"S001.003\",\n    \"tipo\" : \"REQ\",\n    \"timestamp\" : \"20171220175016\",\n    \"usuario\" : \"SIAOI\",    \n    \"versao\" : \"1.0\",\n    \"canal\" : \"003\"\n  },\n  \"BODY\" : {\n    \"enquadramentoProduto\" : {\n      \"tipoPessoa\" : \"1\",\n      \"tipoFinanciamento\" : 1,\n      \"categoriaImovel\" : 1,\n      \"valorObraReforma\" : null,\n      \"possuoFinanciamentoHabitacionalCaixa\" : \"N\",\n      \"valorAproximadoImovel\" : valor,\n      \"ufImovel\" : \"DF\",\n      \"municipioImovel\" : 1809,\n      \"possuoImovelMunicipio\" : \"N\",\n      \"cpf\" : \"99999999999\",\n      \"numeroTelefoneCelular\" : \"61982096187\",\n      \"aceitoReceberSms\" : \"S\",\n      \"rendaBrutaFamiliarMensal\" : Math.round(renda),\n      \"dataNascimentoComprador\" : nascimento,\n      \"subsidioFgtsUniao\" : \"N\",\n      \"dataBeneficioConcedido\" : \"20060707\",\n      \"trabalhoSobFgts\" : \"N\",\n      \"fatorSocial\" : \"N\",\n      \"numeroAPF\" : null\n    },\n    \"produto\" : {\n      \"codigo\" : produto,\n      \"versao\" : 1\n    },\n    \"seguradora\" : null,\n    \"sistemaAmortizacao\" : null,\n    \"valorEntrada\" : null,\n    \"prazoDesejavel\" : null\n  }\n};\n\nchat.set('simulacao', msg.payload);\n\nreturn [null, msg];\n}\n","outputs":2,"noerr":0,"x":1410,"y":460,"wires":[["f2bef7b4.901d78","ba4169ec.65cab8"],["ab949c0.a650468"]]},{"id":"3172b775.68bca8","type":"function","z":"383b3136.8728be","name":"Dados Simulação","func":"//var entrada = msg.payload.BODY.resultadoProcessamento.simulacao.valorEntrada;\nvar valorAproximado = formataDinheiro(msg.payload.BODY.resultadoProcessamento.simulacao.valorAproximadoImovel);\nvar prazo = msg.payload.BODY.resultadoProcessamento.simulacao.prazoDesejavel;\nvar financiamento = formataDinheiro(msg.payload.BODY.resultadoProcessamento.simulacao.valorFinanciamento);\nvar juros = msg.payload.BODY.resultadoProcessamento.simulacao.jurosEfetivos;\nvar entrada = formataDinheiro(msg.payload.BODY.resultadoProcessamento.simulacao.valorEntrada);\nvar subisidio = msg.payload.BODY.resultadoProcessamento.simulacao.valorSubsidioComplemento;\nvar prestacao = formataDinheiro(msg.payload.BODY.resultadoProcessamento.simulacao.seguradoras.seguradora[0].valorPrimeiraPrestacao);\nvar jurosNominal = msg. payload.BODY.resultadoProcessamento.simulacao.jurosNominais;\n\nmsg.payload = \"\\nResultado da Simulação\\n\" +\n\"\\nValor do imóvel : \"+ valorAproximado +\t\n\"\\nValor da entrada: \"+ entrada +\t\n\"\\nValor do subsídio : \"+ subisidio +\t\n\"\\nValor do financiamento: \"+ financiamento +\n\"\\nValor da prestação: \"+ prestacao +\t\n\"\\nPrazo em meses: \"+ prazo +\n\"\\nCategoria do imóvel: Novo\" +\n\"\\nTaxa Juros Nominal/Ano:  \"+ jurosNominal +\"%\";  \nvar chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = {chatId : chatId, type : 'message', content : msg.payload};\n\nreturn msg;\n\nfunction formataDinheiro(n) {\nreturn \"R$ \" + n.toFixed(2).replace('.', ',').replace(/(\\d)(?=(\\d{3})+\\,)/g, \"$1.\");\n}\n","outputs":1,"noerr":0,"x":1950,"y":460,"wires":[["de73b241.b1b33","58beb317.62094c"]]},{"id":"ab949c0.a650468","type":"http request","z":"383b3136.8728be","name":"","method":"POST","ret":"obj","url":"https://servicoshabitacao.caixa.gov.br/siopiws-restful/ws/simulador/simulacoes","tls":"80094204.91c78","x":1690,"y":460,"wires":[["3172b775.68bca8","caf572ed.cbeb3"]]},{"id":"847c2212.9d333","type":"link out","z":"383b3136.8728be","name":"","links":["ba7ae069.44981"],"x":615,"y":540,"wires":[]},{"id":"58beb317.62094c","type":"chatbot-inline-buttons","z":"383b3136.8728be","name":"PRO/Não","buttons":[{"type":"postback","label":"SIM","value":"PRO","answer":"","alert":false,"style":"default"},{"type":"postback","label":"NÃO","value":"Não","answer":"","alert":false,"style":""}],"message":"{{firstName}},\nse voce já possui 03 anos de trabalho sob regime do FGTS, somando todos os períodos trabalhados, posso tentar fazer uma nova simulação, nas condições do PRÓ-COTISTA FGTS?","x":1880,"y":340,"wires":[["5e09b1ac.c1474"]]},{"id":"5e09b1ac.c1474","type":"delay","z":"383b3136.8728be","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1940,"y":260,"wires":[["de73b241.b1b33"]]},{"id":"6e2ac2fb.e538ec","type":"link out","z":"383b3136.8728be","name":"","links":["8e9bd229.8545f"],"x":495,"y":500,"wires":[]},{"id":"284c7ba4.66f424","type":"chatbot-message","z":"383b3136.8728be","name":"Preciso do CPF","message":[{"message":"Para fazer a simulação do PRÓ-COTISTA preciso que você me informe o número do seu CPF.\n"}],"answer":false,"track":false,"x":960,"y":400,"wires":[["de73b241.b1b33"]]},{"id":"df0bcba9.1d3d08","type":"function","z":"383b3136.8728be","name":"Se CPF","func":"var tamanho = msg.payload.length;\n\nif (tamanho === 11){\n    \n    return [msg, null];\n} else {\n    \n    //msg1 = msg.payload;\n    \n    return [null, msg];\n}\n\n","outputs":2,"noerr":0,"x":90,"y":600,"wires":[["4d6ebd4a.cc5f44","a22f402b.a092e"],["a43c045.572b5f8","57af584c.7c6408","db1466b9.29ba38"]]},{"id":"4d6ebd4a.cc5f44","type":"function","z":"383b3136.8728be","name":"get Global Calculo","func":"//var chat = msg.chat();\nvar cpf = msg.payload;\nvar chat = msg.chat();\nvar payload = chat.get('calculo');\nif (payload === null || payload === undefined ){\n    msg.payload = msg.payload.content;\n} else {\n    \n    msg.payload = payload;\n    msg.payload.BODY.cpf = cpf;\n    msg.payload.BODY.subsidioFgtsUniao = \"S\";\n    msg.payload.BODY.trabalhoSobFgts = \"S\";\n    msg.payload.BODY.dataBeneficioConcedido = \"20060707\";\n}\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Accept\" : \"application/json\"\n     };\n     \nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":620,"wires":[["bb0c6c0b.087ff","4c5fc8de.d25668"]]},{"id":"caf572ed.cbeb3","type":"debug","z":"383b3136.8728be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1880,"y":540,"wires":[]},{"id":"ca454852.8e2a28","type":"debug","z":"383b3136.8728be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":400,"wires":[]},{"id":"dc53e47.3031418","type":"link out","z":"383b3136.8728be","name":"","links":["8e9bd229.8545f"],"x":1435,"y":620,"wires":[]},{"id":"35bd24c7.cbe3ec","type":"http request","z":"383b3136.8728be","name":"","method":"POST","ret":"obj","url":"https://servicoshabitacao.caixa.gov.br/siopiws-restful/ws/simulador/simulacoes","tls":"80094204.91c78","x":1030,"y":620,"wires":[["a9653814.713758","cf4a01c8.e548d"]]},{"id":"a9653814.713758","type":"function","z":"383b3136.8728be","name":"Dados Simulação","func":"var entrada = msg.payload.BODY.resultadoProcessamento.simulacao.valorEntrada;\nvar valorAproximado = formataDinheiro(msg.payload.BODY.resultadoProcessamento.simulacao.valorAproximadoImovel);\nvar prazo = msg.payload.BODY.resultadoProcessamento.simulacao.prazoDesejavel;\nvar financiamento = formataDinheiro(msg.payload.BODY.resultadoProcessamento.simulacao.valorFinanciamento);\nvar juros = msg.payload.BODY.resultadoProcessamento.simulacao.jurosEfetivos;\nvar entrada = formataDinheiro(msg.payload.BODY.resultadoProcessamento.simulacao.valorEntrada);\nvar subisidio = msg.payload.BODY.resultadoProcessamento.simulacao.valorSubsidioComplemento;\nvar prestacao = formataDinheiro(msg.payload.BODY.resultadoProcessamento.simulacao.seguradoras.seguradora[0].valorPrimeiraPrestacao);\nvar jurosNominal = msg. payload.BODY.resultadoProcessamento.simulacao.jurosNominais;\n\nmsg.payload = \"\\nResultado da Simulação\\n\" +\n\"\\nValor do imóvel : \"+ valorAproximado +\t\n\"\\nValor da entrada: \"+ entrada +\t\n\"\\nValor do subsídio : \"+ subisidio +\t\n\"\\nValor do financiamento: \"+ financiamento +\n\"\\nValor da prestação: \"+ prestacao +\t\n\"\\nPrazo em meses: \"+ prazo +\n\"\\nCategoria do imóvel: Novo\" +\n\"\\nTaxa Juros Nominal/Ano:  \"+ jurosNominal +\"%\";  \nvar chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = {chatId : chatId, type : 'message', content : msg.payload};\n\nreturn msg;\n\nfunction formataDinheiro(n) {\nreturn \"R$ \" + n.toFixed(2).replace('.', ',').replace(/(\\d)(?=(\\d{3})+\\,)/g, \"$1.\");\n}\n","outputs":1,"noerr":0,"x":1250,"y":620,"wires":[["dc53e47.3031418","933dfd6b.67ab9"]]},{"id":"f2bef7b4.901d78","type":"debug","z":"383b3136.8728be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1590,"y":340,"wires":[]},{"id":"cc6f9d39.e3bbb","type":"function","z":"383b3136.8728be","name":"get Global Simulacao","func":"var produto = msg.payload.BODY.resultadoProcessamento.produtos.produto[1].codigo;\nvar chat = msg.chat();\nvar payload = chat.get('simulacao');\nif (payload === null || payload === undefined ){\n    msg.payload = msg.payload.content;\n} else {\n    \n    msg.payload = payload;\n    msg.payload.BODY.enquadramentoProduto.subsidioFgtsUniao = \"S\";\n    msg.payload.BODY.enquadramentoProduto.trabalhoSobFgts = \"S\";\n    msg.payload.BODY.produto.codigo = produto;\n}\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Accept\" : \"application/json\"\n     };\n     \nreturn msg;\n","outputs":1,"noerr":0,"x":800,"y":620,"wires":[["35bd24c7.cbe3ec","3d94a740.3ac658"]]},{"id":"bb0c6c0b.087ff","type":"http request","z":"383b3136.8728be","name":"","method":"POST","ret":"obj","url":"https://servicoshabitacao.caixa.gov.br/siopiws-restful/ws/simulador/enquadramentos","tls":"80094204.91c78","x":590,"y":620,"wires":[["cc6f9d39.e3bbb","d599fcf1.e8c76"]]},{"id":"3d94a740.3ac658","type":"debug","z":"383b3136.8728be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":580,"wires":[]},{"id":"d599fcf1.e8c76","type":"debug","z":"383b3136.8728be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":580,"wires":[]},{"id":"4c5fc8de.d25668","type":"debug","z":"383b3136.8728be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":580,"wires":[]},{"id":"cf4a01c8.e548d","type":"debug","z":"383b3136.8728be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1220,"y":700,"wires":[]},{"id":"21a9e77c.79c6e8","type":"link out","z":"92ee70f2.0a47c","name":"","links":["8942226f.21d2a"],"x":595,"y":340,"wires":[]},{"id":"7e01217f.4565c","type":"debug","z":"e7a4ea5f.864138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":120,"y":320,"wires":[]},{"id":"6f0841d3.51a3","type":"debug","z":"e7a4ea5f.864138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":240,"wires":[]},{"id":"75f69a49.f3f814","type":"debug","z":"e7a4ea5f.864138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":420,"wires":[]},{"id":"ee15f434.f0f648","type":"link out","z":"e7a4ea5f.864138","name":"","links":["5d290b25.670624"],"x":835,"y":180,"wires":[]},{"id":"bd4fb733.d75a28","type":"link out","z":"e7a4ea5f.864138","name":"","links":["8942226f.21d2a"],"x":820,"y":340,"wires":[]},{"id":"a22f402b.a092e","type":"debug","z":"383b3136.8728be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":520,"wires":[]},{"id":"db1466b9.29ba38","type":"debug","z":"383b3136.8728be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":240,"y":660,"wires":[]},{"id":"ba4169ec.65cab8","type":"link out","z":"383b3136.8728be","name":"","links":["378673cd.6d66fc"],"x":1620,"y":420,"wires":[]},{"id":"503817d3.974d28","type":"function","z":"42afd0af.dc9be","name":"Desculpe","func":"var chat = msg.chat();\nvar chatId = chat.get('chatId');\nmsg.payload = \"Desculpe-me não foi possível processar suas informações, tente novamente por favor!\\n\"+\n\":(\";\n\nmsg.payload = { chatId : chatId, type : 'message', content : msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["56599ae5.71ade4","41b24949.4bac08"]]},{"id":"378673cd.6d66fc","type":"link in","z":"42afd0af.dc9be","name":"","links":["ba4169ec.65cab8"],"x":300,"y":180,"wires":[["503817d3.974d28"]]},{"id":"56599ae5.71ade4","type":"link out","z":"42afd0af.dc9be","name":"","links":["5d290b25.670624"],"x":755,"y":180,"wires":[]},{"id":"9f7ab10f.1c1da","type":"link out","z":"42afd0af.dc9be","name":"","links":["8942226f.21d2a"],"x":755,"y":240,"wires":[]},{"id":"41b24949.4bac08","type":"delay","z":"42afd0af.dc9be","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":220,"wires":[["9f7ab10f.1c1da"]]},{"id":"12b7475f.184229","type":"link in","z":"150dd550.f12feb","name":"","links":["54c963e7.7689fc"],"x":80,"y":140,"wires":[["d8292b82.dc9cb8"]]},{"id":"5291ab70.cde7c4","type":"http request","z":"150dd550.f12feb","name":"","method":"POST","ret":"obj","url":"https://westus.api.cognitive.microsoft.com/qnamaker/v2.0/knowledgebases/5ffb1abb-3d74-4a2f-8210-a7d509de8b38/generateAnswer","tls":"","x":230,"y":200,"wires":[["a02ea3a3.587ad"]]},{"id":"d8292b82.dc9cb8","type":"function","z":"150dd550.f12feb","name":"JSON de Requisição","func":"var payload = msg.payload.content;\nvar chat = msg.chat();\n\nmsg.headers = {\n         \"Ocp-Apim-Subscription-Key\" : \"b747db3745f348fb9c774f6ad82a776d\",\n         \"Content-type\" : \"application/json\",\n         \"Accept\" : \"application/json\"\n     };\nmsg.payload = {\"question\":\"\\\"\"+payload+\"\\\"\" };\n  \nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["5291ab70.cde7c4"]]},{"id":"3b10bb65.bcf374","type":"link out","z":"150dd550.f12feb","name":"","links":["5d290b25.670624"],"x":735,"y":320,"wires":[]},{"id":"a02ea3a3.587ad","type":"function","z":"150dd550.f12feb","name":"Resposta","func":"var chat = msg.chat();\nvar resposta = parseHtmlEntities(msg.payload.answers[0].answer);\nvar chatId = chat.get('chatId');\nmsg.payload = {chatId : chatId, type : 'message', content : resposta};\nreturn msg;\n\nfunction parseHtmlEntities(str) {\n    return str.replace(/&#([0-9]{1,3});/gi, function(match, numStr) {\n        var num = parseInt(numStr, 10); // read num as normal number\n        return String.fromCharCode(num);\n    });\n}","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["933f14f7.45eca8"]]},{"id":"933f14f7.45eca8","type":"switch","z":"150dd550.f12feb","name":"QnA Padrao","property":"payload.content","propertyType":"msg","rules":[{"t":"regex","v":"No good match found in the KB","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":280,"wires":[["eb84b7f2.fa9308"],["3b10bb65.bcf374"]]},{"id":"eb84b7f2.fa9308","type":"link out","z":"150dd550.f12feb","name":"","links":["8d9fad93.055d7"],"x":735,"y":180,"wires":[]},{"id":"948e36c8.17bc98","type":"function","z":"d953a33b.f39fe","name":"Set Mega","func":"var chat = msg.chat();\nchat.set('loteria','mega');\n//return msg;","outputs":1,"noerr":0,"x":1000,"y":340,"wires":[[]]},{"id":"d7f58a43.ba2ec8","type":"link out","z":"b321fb36.00e188","name":"","links":["8942226f.21d2a"],"x":1075,"y":340,"wires":[]},{"id":"2a6ba74c.428378","type":"delay","z":"b321fb36.00e188","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":160,"wires":[["808e1662.c082a8"]]},{"id":"43982de5.576de4","type":"function","z":"b321fb36.00e188","name":"Dados Mega","func":"var ganhadores = msg.payload.resultado.ganhadores;\nvar vrEstimativa = msg.payload.resultado.vr_estimativa;\nvar sorteados =msg.payload.resultado.resultado;\nvar concurso = msg.payload.resultado.concurso;\n\n\nif(ganhadores === 0){\n\nvar acumulado = formataReal(msg.payload.resultado.VALOR_ACUMULADO);\nmega = \"Acumulou!\\nconcurso: \" +\n concurso + \"\\nresultado: \" + sorteados +\n \"\\nAcumulado próximo concurso:\"+ acumulado;\n \n} else{\n    \nvar premio = formataReal(msg.payload.resultado.VALOR);\nmega = \"concurso: \"+concurso + \" - \"+ ganhadores + \"ganhador(es)!\\nPrêmio:\"+premio+\"\\nnúmeros sorteados:\\n\"+sorteados;    \n\n}\n\npayload = mega + \"\\n\\nA loteria que paga milhões para o acertador dos seis números sorteados.\"\nvar chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = {chatId : chatId, type : 'message', content : payload};\nreturn msg;\n\nfunction formataReal(n) {\nvar v= n.replace(/\\D/g,\"\").replace(/(\\d{2})$/,\",$1\").replace(/(\\d+)(\\d{3},\\d{2})$/g,\"$1.$2\");\nvar qtdLoop = (v.length-3)/3;\nvar count = 0;\n\nwhile (qtdLoop > count)\n\n{\ncount++;\nv=v.replace(/(\\d+)(\\d{3}.*)/,\"$1.$2\"); //Coloca o resto dos pontos\n}\nreturn \"R$ \" + v;\n}\n","outputs":1,"noerr":0,"x":630,"y":100,"wires":[["808e1662.c082a8","d49dfa6d.40acd8"]]},{"id":"748e3ca3.d9e254","type":"http request","z":"b321fb36.00e188","name":"","method":"POST","ret":"obj","url":"https://api.caixa.gov.br:8443/loterias/v2/resultados/Mega-Sena","tls":"9a5e8a2d.bf6dc8","x":450,"y":100,"wires":[["43982de5.576de4"]]},{"id":"b0b30f4d.90037","type":"switch","z":"b321fb36.00e188","name":"Mega-Sena","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"MEGA","vt":"str","case":true},{"t":"regex","v":"Sim","vt":"str","case":true},{"t":"regex","v":"Não","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":120,"wires":[["748e3ca3.d9e254","7e1aba0e.269bc4"],["e77b61b2.56e51"],["fa34a2c.ddfa66"],["47d9c9ab.42e6c8"]]},{"id":"e77b61b2.56e51","type":"chatbot-message","z":"b321fb36.00e188","name":"Concurso","message":[{"message":"basta digitar o número do concurso desejado! :)"}],"answer":false,"track":false,"x":460,"y":140,"wires":[["808e1662.c082a8"]]},{"id":"47a9e830.a32708","type":"link out","z":"d953a33b.f39fe","name":"","links":["f81a3041.8c1b5"],"x":480,"y":420,"wires":[]},{"id":"97eb5267.fd243","type":"http request","z":"b321fb36.00e188","name":"","method":"POST","ret":"obj","url":"https://api.caixa.gov.br:8443/loterias/v2/resultados/Mega-Sena?concurso={{{query}}}","tls":"9a5e8a2d.bf6dc8","x":430,"y":280,"wires":[["2d2af609.871d4a"]]},{"id":"47d9c9ab.42e6c8","type":"change","z":"b321fb36.00e188","name":"query","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":280,"wires":[["97eb5267.fd243"]]},{"id":"2d2af609.871d4a","type":"function","z":"b321fb36.00e188","name":"Dados Mega","func":"var ganhadores = msg.payload.resultado.ganhadores;\nvar vrEstimativa = msg.payload.resultado.vr_estimativa;\nvar sorteados =msg.payload.resultado.resultado;\nvar concurso = msg.payload.resultado.concurso;\n\nif(ganhadores === 0){\n\nvar acumulado = formataReal(msg.payload.resultado.valor_acumulado);\nmega = \"Acumulou!\\nconcurso: \" +\n concurso + \"\\nresultado: \" + sorteados +\n \"\\nAcumulado concurso:\"+ acumulado;\n \n} else{\n    \nvar premio = formataReal(msg.payload.resultado.valor);\nmega = \"concurso: \"+concurso + \"\\n\"+ ganhadores + \" ganhador(es)!\\nPrêmio: \"+premio+\"\\nnúmeros sorteados:\\n\"+sorteados;    \n\n}\n\npayload = mega + \"\\n\\nA loteria que paga milhões para o acertador dos seis números sorteados.\"\nvar chat = msg.chat();\nvar chatId = chat.get('chatId');\n\nmsg.payload = {chatId : chatId, type : 'message', content : payload};\nreturn msg;\n\nfunction formataReal(n) {\nvar v= n.replace(/\\D/g,\"\").replace(/(\\d{2})$/,\",$1\").replace(/(\\d+)(\\d{3},\\d{2})$/g,\"$1.$2\");\nvar qtdLoop = (v.length-3)/3;\nvar count = 0;\n\nwhile (qtdLoop > count)\n\n{\ncount++;\nv=v.replace(/(\\d+)(\\d{3}.*)/,\"$1.$2\"); //Coloca o resto dos pontos\n}\nreturn \"R$ \" + v;\n}\n","outputs":1,"noerr":0,"x":630,"y":280,"wires":[["ff50ba15.dd74e8","808e1662.c082a8"]]},{"id":"ff50ba15.dd74e8","type":"delay","z":"b321fb36.00e188","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":340,"wires":[["d7f58a43.ba2ec8"]]},{"id":"4a61850a.0038ec","type":"debug","z":"d953a33b.f39fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":740,"wires":[]},{"id":"d49dfa6d.40acd8","type":"chatbot-inline-buttons","z":"b321fb36.00e188","name":"Botão Sim/Não","buttons":[{"type":"postback","label":"Sim","value":"Sim","answer":"","alert":false,"style":"default"},{"type":"postback","label":"Não","value":"Não","answer":"","alert":false,"style":"primary"}],"message":"{{firstName}}, deseja ver o resultado de jogos anteriores da \nMega-Sena? :D","x":780,"y":140,"wires":[["2a6ba74c.428378"]]},{"id":"fa34a2c.ddfa66","type":"link out","z":"b321fb36.00e188","name":"","links":["8e9bd229.8545f"],"x":520,"y":200,"wires":[]},{"id":"e17b58f8.c0c5a8","type":"debug","z":"383b3136.8728be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1160,"y":360,"wires":[]},{"id":"304d9102.dd18fe","type":"chatbot-message","z":"383b3136.8728be","name":"Valor do Financiamento","message":[{"message":"{{firstName}},\ndesculpe-me, apenas fluxo de valor do imóvel está implementado!"}],"answer":false,"track":false,"x":730,"y":320,"wires":[["933dfd6b.67ab9"]]}]